# Local real-evidence inputs and outputs. Do not commit provider data or run products.
external_genomes.tsv
local_fasta/
provider_artifacts/
restricted/
results/
*.fa
*.fasta
*.fna
*.fna.gz
*.fa.gz
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.cookie
*.cookies
*.token
*.secret
*.key
*.pem
*.p12
*.pfx
credentials*
secrets*
tokens*
password*
passwords*
